<html>
<head>
    <title>login</title>

</head>
<body>
<center>
   <h2>Log In For Better Experience</h2><hr/>
</center><br/><br/>

        <form method="POST"  action="/login/" >
            {% csrf_token %}
            <center>
                <u><h3>Login Here</h3></u>
                <table>
                    <tr>
                        <td>username:</td><td ><input type="text" name="username" placeholder="enter name here" class="mine"></td>
                    </tr><br/>

                    <tr>
                        <td>Password:</td><td><input type="password" name="password" placeholder="enter password here" class="mine"></td>
                    </tr>
                 </table><br/>

            </center><br/>
            <center><button type="submit" class="none">Login</button></center>
            <br>{{comment}}<br>

        </form>


</body>
<center>
     <a href="/register/" class="bt"><button>Signup</button></a>

</center>
</html>